.box{
    border-style: solid;
    border-color: black;
    padding: 50px;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
@media screen and (min-width:180px) and (max-width:300px) {
    .box{
    background-color:pink;
    font-size: 20px;
    text-align: center;
    background-image: url(img/cloth.jpg);
    }
}

@media screen and (min-width:300px) {
    .box{background-color: blueviolet;
        font-size: 40px;
        text-align: center;
        background-image: url(img/red.jpg);

    }
    
}

@media screen and (min-width:550px) {
    .box{
        background-color: rgb(43, 214, 226);
        font-size: 60px;
        text-align: center;
        background-image: url(img/dress.jpg);

    }
    
}
    
@media screen and (min-width:750px) {
    .box{
        background-color: yellow;
        font-size: 80px;
        text-align: center;
        background-image: url(img/gown.jpg);
        

    }
    
}
    
